body{
    background-color:  #f3f1ff;
}
/* navbar */
.brand-logo{
    width: 40.42px;
    height: 51px;
}
.profile{
    width: 51px;
    height: 51px;
    padding: 5px;
}
.item{
    margin-top: 12px;
}
.navbar{
    width: 1440px;
    padding-right: 285px;
    padding-left: 285px;
}
/* main players */
.main-item{
    width: 870px;
    height: 750px;
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-right: 285px;
    margin-left: 285px;
}
h3{
    color: #562EFF;
    padding: 10px;
}
.palyers{
    width: 56px;
    height: 56px;
}
h5{
    margin-top: 15px;
}
.col-sm{
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-left: 35px;
    gap: 10px;
}
hr{
    width: 807px;
    color: gray;
}
/* main card */
.card{
    width: 392px;
    display: flex;
    flex-direction: row;
}
.card-img-top{
    width: 177px;
    height: 177px;
}
.card-body{
    width: 190px;
    height: 177px;
}
.card-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    padding-left:20px ;
    padding-right: 20px;
}

